{% extends 'books/base.html' %}

{% block title %}Книги{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Книги</h1>

<div class="container">
  <div class="d-flex flex-wrap justify-content-center">
  	{% for book in books %}
  	<div class="card mb-3 col-3 mx-2" style="width: 32rem;">
	  <div class="card-header">
	  	<h2 class="card-title">{{ book.title }}</h2>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Жанр: {{ book.genre.name }}</h5>
	    <p>Автор: <a href="{% url 'author_detail' book.author.pk %}" class="card-link">{{ book.author.fio }}</a></p>
	    <a href="{% url 'book_detail' book.pk %}" class="btn btn-primary">Подробнее</a>
	  </div>
    </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
  	<div class="d-flex justify-content-center">
  		<div>
	  		Страницы:
	    	{% for page_num in paginator.page_range %}
	        {% if page_num == page_obj.number %}
	            <strong>{{ page_num }}</strong>
	        {% else %}
	            <a href="?page={{ page_num }}">{{ page_num }}</a>
	        {% endif %}
	    	{% endfor %}
			</div>		
  	</div>
  {% endif %}
</div>
{% endblock %}